<ion-header>
  <ion-toolbar class="black">
    <ion-title>Pickup point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2015/08/03/00/33/alt-bukow-872719_960_720.png" alt="Map" />
    <ion-card-content>
      <p><strong>Address:</strong> Fake street, 111</p>
      <p><strong>Complement:</strong> apt 999</p>
      <p><strong>Neighborhood:</strong> Peace Neighborhood</p>
      <p><strong>Zip code:</strong> 123456</p>
      <p><strong>City:</strong> ST</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">Notes</ion-label>
    <ion-textarea placeholder="Add any additional notes..."></ion-textarea>
  </ion-item>

  <ion-button expand="full" color="success" class="create-button">
    CREATE PICKUP CALL
  </ion-button>
</ion-content>
